<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    @Styles.Render("~/Content/css/tooltip")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    

</head>
<body style="padding-top:0px;">
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
                @Html.ActionLink("EscuelaTCS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--
                                        //using Microsoft.AspNet.Identity
                    //if (Request.IsAuthenticated)
                    {

                                            if ( User.IsInRole("Admin") ){
                            //Html.ActionLink("Admin", "AdminController")
                        } -->
                    @using Microsoft.AspNet.Identity
                    @if (Request.IsAuthenticated)
                    {
                        //Admin
                        if (User.IsInRole("Directivo"))
                        {
                            <li>@Html.ActionLink("Tipo Personas", "Index", "TipoPersona")</li>
                            <li>@Html.ActionLink("Persona", "Index", "Persona")</li>
                            <li>@Html.ActionLink("Materia", "Index", "Materia")</li>
                            <li>@Html.ActionLink("Grupo", "Index", "Grupo")</li>
                            <li>@Html.ActionLink("Modalidad", "Index", "Modalidad")</li>
                            <li>@Html.ActionLink("Ciclos", "Index", "Ciclo")</li>
                            <li>@Html.ActionLink("Asignacion de Grupos", "Index", "GrupoPersonas")</li>
                            <li>@Html.ActionLink("Subir Calificaciones", "Index", "Calificacion")</li>
                            <li>@Html.ActionLink("Contacto", "Index", "Contacto")</li>
                        }
                        if (User.IsInRole("Profesor"))
                        {
                            <li>@Html.ActionLink("Subir Calificaciones", "Index", "Calificacion")</li>
                        }
                        if (User.IsInRole("Alumno"))
                        {
                            <li>@Html.ActionLink("Ver Calificaciones", "Index", "Alumno")</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container"></div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/js/tooltip")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/toastr")
    @RenderSection("scripts", required: false)
</body>
    </html>
